$black: #000000;
$dark:  #333333;
$grey:  #777777;
$light: #bbbbbb;
$white: #ffffff;


// The main chat box
.patchchat {
	position: fixed;
	right: 100px; bottom: 0px;
	width: 250px; height: auto;

	border: 1px $grey solid;
	border-width: 1px 1px 0 1px;
	background: $white;

	* {
		font-family: sans-serif;
	}

	

	section {

		header { 
			display: block !important;
			height: 40px;
			padding: 5px 10px;
			cursor: pointer;
			border-bottom: 1px $grey solid;
			background: $light;

			.spinner {
				display: none; float: right;
				margin: 6px;
			}
		}

		.patchchat-body {

			display: block;
			height: 250px;
			padding-top: 10px;

			form {
				label {
					padding: 20px 10px 0 10px;
				}

				input {
					width: 230px;
					padding: 5px; margin: 0 10px 10px;
				}

				textarea {
					position: absolute;
					bottom: 0;
					width: 100%; min-height: 30px;
					padding: 5px 5px 0 5px;
					border: 0px $grey solid;
					border-top-width: 1px;
					font-family: sans-serif;
					resize: none;

					font-size: 14px;
					line-height: 18px;
					overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
				}

				#patchchat-honeypot { display: none; }
			}

		}

		
	}

}