$black:    #000000;
$dark:     #333333;
$grey:     #777777;
$light:    #bbbbbb;
$offwhite: #fafafa;
$white:    #ffffff;

$blue:     #55acee;

#wpwrap {
	box-sizing: border-box;
}

#wpcontent {
	display: block; position: relative; clear: both;
	padding-left: 0 !important;
	
	#wpbody {
		clear: both;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#wpfooter {
	display: none;
}

#patchchatmessenger {
	display: block; position: relative;

	header {
		display: none;
		padding: 5px 20px;
		background: #cccccc;
	}

	ul.patchchatlist {
		display: inline-block;
		float: left;
		position: relative;
		margin: 0;

		li.chat {
			display: block;
			width: 300px;
			margin: 0;
			border-bottom: 1px solid #333333;
			cursor: pointer;

			&:hover {
				background: #cccccc;
			}

			&.active {

				a {
					background: $blue;
					color: $white;
				}
			}

			a {
				display: block; clear: both;
				width: auto; height: auto;
				padding: 10px;
				text-decoration: none;

				&:after {
					content: "";
					display: table;
					clear: both;
				}

				img {
					float: left;
					margin: 0 10px 0 0;
				}

				h3 {
					margin: 0;
				}
			}

		}

	}

	.tab-content {
		display: block; position: relative; float: left;

		.tabpanel {
			display: none !important;

			width: 400px;
			border-right: 1px solid $black;
			border-bottom: 1px solid $black;
			border-left: 1px solid $black;
			background: $offwhite;

			&.active {
				display: block !important;
			}

			.patchchatbox {
				margin: 0;

				.patchchatcomments {
					display: block;
					height: 90vh;
					padding: 10px 0; margin: 0 !important;
				}
			}

		}
	}
}