$black:    #000000;
$dark:     #333333;
$grey:     #777777;
$light:    #bbbbbb;
$lighter:  #cccccc;
$offwhite: #fafafa;
$white:    #ffffff;

$blue:     #453AFF;

#patchchatcontainer {
	display: block; position: fixed;
	right: 0; bottom: 0;
	width: 100%; height: 0;

	#patchchatmessenger {
		display: block; position: fixed;

		ul#patchchatlist {
			display: inline-block;
			position: relative;
			margin: 0;
		}

		ul#patchchatboxes {
			display: block; position: fixed;
			bottom: 0;
			width: 100%; height: 0;
			overflow: visible;

			#patchchatinitbox {
				display: block; position: absolute;
				right: 100px; bottom: 0;
				width: 200px; height: auto;

				background: $white;
				border: 1px $grey solid;
				border-width: 1px 1px 0 1px;

				* {
					font-family: sans-serif;
				}

				&.open {
					width: 300px;

					header {
						padding: 5px 10px;
						background: $dark;
						color: $white;
						border-bottom: 1px solid $grey;
					}
				}

				header {
					padding: 3px 6px;
					cursor: pointer;
					background: $light;
					font-size: 16px;

					.spinner {
						display: none; float: right;
						margin: 6px;
					}

				}


				form {
					display: none;
					padding-bottom: 100px;
				}

			}

		}
	}
}
