#wpwrap {
	box-sizing: border-box;
}

#wpcontent {
	display: block; position: relative; clear: both;
	padding-left: 0 !important;

	#wpbody {
		clear: both;

		#patchchatmessenger {
			display: block;

			ul#patchchatlist {
				display: block; float: left;
				position: relative;
				margin: 0;
			}

			#patchchatinitbox {

				display: none;

				&.needed {
					display: inline-block;
				}

				form {
					display: none;
					padding-bottom: 100px;
				}
			}
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}


}

#wpfooter {
	display: none;
}