$black:    #000000;
$dark:     #333333;
$grey:     #777777;
$light:    #bbbbbb;
$offwhite: #fafafa;
$white:    #ffffff;

$blue:     #55acee;

#wpwrap {
	box-sizing: border-box;
}

#wpcontent {
	display: block; position: relative; clear: both;
	padding-left: 0 !important;

	#wpbody {
		clear: both;

		#patchchatmessenger {
			display: block;

			ul#patchchatlist {
				display: block; float: left;
				position: relative;
				margin: 0;

				#patchchatinit {
					margin-bottom: 0;
				}
			}

			#patchchatinitbox {

				display: none;

				&.needed {
					display: inline-block;
				}

				form {
					display: none;
					padding-bottom: 100px;
				}
			}

			.patchchatbox {
				display: none;

				&.active { display: block; }

				header {
					padding: 10px;
					font-size: 24px;
					border-bottom: 1px solid $black;

					.spinner {
						display: none; float: right;
						margin: 6px;
					}

				}
			}
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}


}

#wpfooter {
	display: none;
}