@import './patchchat.scss';

#patchchatcontainer {
	display: block; position: fixed;
	right: 0; bottom: 0;
	width: 100%; height: 0;

	#patchchatmessenger {
		display: block;

		ul#patchchatlist {
			display: inline-block;
			position: relative;
			margin: 0;
		}

		ul#patchchatboxes {
			display: block; position: fixed;
			bottom: 0; right: 0;
			width: auto; height: auto;
			padding-right: 100px;
			overflow: visible;
			pointer-events: none;

			.patchchatbox {
				display: inline-block; position: relative;

				min-width: 200px;

				margin-right: 20px;

				vertical-align: bottom;

				background: $white;
				border: 1px $grey solid;
				border-width: 1px 1px 0 1px;

				pointer-events: auto;

				&.active {
					width: 300px;

					header {
						padding: 5px 10px;
						background: $dark;
						color: $white;
						border-bottom: 1px solid $grey;

						.minimize { display: block; }
					}

					ul.patchchatcomments { display: block; }
				}

				header {
					padding: 3px 6px;
					cursor: pointer;
					background: $light;
					font-size: 16px;

					.minimize {
						display: none; float: right;
						padding: 5px;

						&:hover { 
							color: $grey;
						}
					}

				}

				ul.patchchatcomments {
					display: none;
					height: 300px;

					.auto > span {
						width: 60%;
					}
				}

				form {
					display: none;
				}

			}

			#patchchatinitbox {

				display: none;

				&.needed { display: inline-block; }

			}

		}
	}
}
