.status-closed select {
  background: #333333;
  color: #ffffff;
  border-color: #000000; }

.status-new select {
  background: #dd3d36;
  color: #ffffff;
  border-color: #af0824; }

.status-open select {
  background: #769F33;
  color: #ffffff;
  border-color: #006505; }

.column-status {
  width: 100px !important;
  overflow: hidden; }
  .column-status img {
    display: none;
    margin: 0 0 -3px 4px; }

.column-author {
  width: 220px !important; }
