/* line 10, ../sass/front.scss */
.patchchat {
  position: fixed;
  right: 100px;
  bottom: 0px;
  width: 250px;
  height: auto;
  border: 1px #777777 solid;
  border-width: 1px 1px 0 1px;
  background: #ffffff;
}
/* line 19, ../sass/front.scss */
.patchchat * {
  font-family: sans-serif;
}
/* line 23, ../sass/front.scss */
.patchchat.active fieldset {
  display: none;
}
/* line 24, ../sass/front.scss */
.patchchat.active ul.patchcomments {
  display: block !important;
}
/* line 29, ../sass/front.scss */
.patchchat section header {
  display: block !important;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px #777777 solid;
  background: #bbbbbb;
}
/* line 37, ../sass/front.scss */
.patchchat section header .spinner {
  display: none;
  float: right;
  margin: 6px;
}
/* line 43, ../sass/front.scss */
.patchchat section .patchchat-body {
  display: block;
  height: 300px;
}
/* line 54, ../sass/front.scss */
.patchchat section form fieldset {
  width: auto;
  padding-top: 10px;
}
/* line 59, ../sass/front.scss */
.patchchat section form fieldset label {
  padding: 20px 10px 0 10px;
}
/* line 63, ../sass/front.scss */
.patchchat section form fieldset input {
  display: block;
  width: 230px;
  padding: 5px;
  margin: 0 10px 10px;
}
/* line 71, ../sass/front.scss */
.patchchat section form textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  padding: 5px 5px 0 5px;
  border: 0px #777777 solid;
  border-top-width: 1px;
  font-family: sans-serif;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  overflow-y: hidden;
  /* fixes scrollbar flash - kudos to @brettjonesdev */
}
/* line 86, ../sass/front.scss */
.patchchat section form #patchchat-honeypot {
  display: none;
}
