/* line 9, ../sass/front.scss */
.patchchat {
  position: fixed;
  right: 100px;
  bottom: 0px;
  width: 250px;
  height: auto;
  border: 1px #777777 solid;
  border-width: 1px 1px 0 1px;
  background: #ffffff;
}
/* line 18, ../sass/front.scss */
.patchchat * {
  font-family: sans-serif;
}
/* line 26, ../sass/front.scss */
.patchchat section header {
  display: block !important;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px #777777 solid;
  background: #bbbbbb;
}
/* line 35, ../sass/front.scss */
.patchchat section .patchchat-body {
  display: block;
  height: 250px;
  padding-top: 10px;
}
/* line 42, ../sass/front.scss */
.patchchat section .patchchat-body form label {
  padding: 20px 10px 0 10px;
}
/* line 46, ../sass/front.scss */
.patchchat section .patchchat-body form input {
  width: 230px;
  padding: 5px;
  margin: 0 10px 10px;
}
/* line 51, ../sass/front.scss */
.patchchat section .patchchat-body form textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  padding: 5px 5px 0 5px;
  border: 0px #777777 solid;
  border-top-width: 1px;
  font-family: sans-serif;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  overflow-y: hidden;
  /* fixes scrollbar flash - kudos to @brettjonesdev */
}
/* line 66, ../sass/front.scss */
.patchchat section .patchchat-body form #patchchat-honeypot {
  display: none;
}
