/* line 1, ../sass/messenger.scss */
#wpcontent {
  padding-left: 0 !important;
}

/* line 5, ../sass/messenger.scss */
.patchchat {
  position: relative;
  min-height: 100%;
  height: 100%;
}
/* line 10, ../sass/messenger.scss */
.patchchat header {
  padding: 5px 20px;
  background: #cccccc;
}
/* line 15, ../sass/messenger.scss */
.patchchat ul.chats {
  display: inline-block;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  border-right: 1px solid #333333;
}
/* line 21, ../sass/messenger.scss */
.patchchat ul.chats li.chat {
  display: block;
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}
/* line 28, ../sass/messenger.scss */
.patchchat ul.chats li.chat:hover {
  background: #cccccc;
}
/* line 32, ../sass/messenger.scss */
.patchchat ul.chats li.chat:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../sass/messenger.scss */
.patchchat ul.chats li.chat img {
  float: left;
  margin: 0 10px 0 0;
}
/* line 43, ../sass/messenger.scss */
.patchchat ul.chats li.chat h3 {
  margin: 0;
}
/* line 47, ../sass/messenger.scss */
.patchchat ul.chats li.chat .chatpanel {
  position: absolute;
  left: 320px;
  top: 0;
  width: 400px;
  height: 800px;
  border: 1px solid red;
  background: #ffffff;
}
