/* line 8, ../sass/messenger.scss */
#wpcontent {
  padding-left: 0 !important;
}

/* line 12, ../sass/messenger.scss */
.patchchat {
  position: relative;
  min-height: 100%;
  height: 100%;
}
/* line 17, ../sass/messenger.scss */
.patchchat header {
  padding: 5px 20px;
  background: #cccccc;
}
/* line 22, ../sass/messenger.scss */
.patchchat ul.chats {
  display: inline-block;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  border-right: 1px solid #333333;
}
/* line 28, ../sass/messenger.scss */
.patchchat ul.chats li.chat {
  display: block;
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}
/* line 35, ../sass/messenger.scss */
.patchchat ul.chats li.chat:hover {
  background: #cccccc;
}
/* line 39, ../sass/messenger.scss */
.patchchat ul.chats li.chat:after {
  content: "";
  display: table;
  clear: both;
}
/* line 45, ../sass/messenger.scss */
.patchchat ul.chats li.chat img {
  float: left;
  margin: 0 10px 0 0;
}
/* line 50, ../sass/messenger.scss */
.patchchat ul.chats li.chat h3 {
  margin: 0;
}
/* line 54, ../sass/messenger.scss */
.patchchat ul.chats li.chat ul.patchcomments {
  display: block !important;
  position: absolute;
  left: 320px;
  top: 0;
  width: 400px;
  height: 800px;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  background: #fafafa;
}
