#wpwrap {
  box-sizing: border-box; }

#wpcontent {
  display: block;
  position: relative;
  clear: both;
  padding-left: 0 !important; }
  #wpcontent #wpbody {
    clear: both; }
  #wpcontent:after {
    content: "";
    display: table;
    clear: both; }

#wpfooter {
  display: none; }

#patchchatmessenger {
  display: block;
  position: relative; }
  #patchchatmessenger header {
    display: none;
    padding: 5px 20px;
    background: #cccccc; }
  #patchchatmessenger ul.patchchatlist {
    display: inline-block;
    float: left;
    position: relative;
    margin: 0; }
    #patchchatmessenger ul.patchchatlist li.chat {
      display: block;
      width: 300px;
      margin: 0;
      border-bottom: 1px solid #333333;
      cursor: pointer; }
      #patchchatmessenger ul.patchchatlist li.chat:hover {
        background: #cccccc; }
      #patchchatmessenger ul.patchchatlist li.chat.active a {
        background: #55acee;
        color: #ffffff; }
      #patchchatmessenger ul.patchchatlist li.chat a {
        display: block;
        clear: both;
        width: auto;
        height: auto;
        padding: 10px;
        text-decoration: none; }
        #patchchatmessenger ul.patchchatlist li.chat a:after {
          content: "";
          display: table;
          clear: both; }
        #patchchatmessenger ul.patchchatlist li.chat a img {
          float: left;
          margin: 0 10px 0 0; }
        #patchchatmessenger ul.patchchatlist li.chat a h3 {
          margin: 0; }
  #patchchatmessenger .tab-content {
    display: block;
    position: relative;
    float: left; }
    #patchchatmessenger .tab-content .tabpanel {
      display: none !important;
      width: 400px;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      background: #fafafa; }
      #patchchatmessenger .tab-content .tabpanel.active {
        display: block !important; }
      #patchchatmessenger .tab-content .tabpanel .patchchatbox {
        margin: 0; }
        #patchchatmessenger .tab-content .tabpanel .patchchatbox .patchchatcomments {
          display: block;
          height: 90vh;
          padding: 10px 0;
          margin: 0 !important; }
