/* line 8, ../sass/patchchatbody.scss */
.patchchatbox {
  position: relative;
}
/* line 12, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments {
  padding-top: 10px;
  overflow-y: scroll;
}
/* line 17, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li {
  display: block;
  list-style: none;
  clear: both;
}
/* line 23, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li span {
  display: inline-block;
  max-width: 80%;
  padding: 3px 5px;
  margin: 3px 8px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: #fafafa;
}
/* line 34, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li span:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li.user span {
  float: left;
}
/* line 44, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li.agent span {
  float: right;
  border-color: #333333;
}
/* line 49, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li.subscriber span {
  float: left;
}
/* line 52, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li.administrator span {
  float: right;
  border-color: #333333;
}
/* line 57, ../sass/patchchatbody.scss */
.patchchatbox ul.patchchatcomments li img {
  display: none;
}
/* line 67, ../sass/patchchatbody.scss */
.patchchatbox form fieldset {
  width: auto;
  padding-top: 10px;
}
/* line 72, ../sass/patchchatbody.scss */
.patchchatbox form fieldset label {
  padding: 20px 10px 0 10px;
}
/* line 76, ../sass/patchchatbody.scss */
.patchchatbox form fieldset input {
  display: block;
  width: 230px;
  padding: 5px;
  margin: 0 10px 10px;
}
/* line 84, ../sass/patchchatbody.scss */
.patchchatbox form textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  padding: 5px 5px 0 5px;
  border: 0px #777777 solid;
  border-top-width: 1px;
  font-family: sans-serif;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  overflow-y: hidden;
  /* fixes scrollbar flash - kudos to @brettjonesdev */
}
/* line 100, ../sass/patchchatbody.scss */
.patchchatbox form #patchchat-honeypot {
  display: none;
}
