#wpwrap {
  box-sizing: border-box; }

#wpcontent {
  display: block;
  position: relative;
  clear: both;
  padding-left: 0 !important; }
  #wpcontent #wpbody {
    clear: both; }
    #wpcontent #wpbody #patchchatmessenger {
      display: block; }
      #wpcontent #wpbody #patchchatmessenger ul#patchchatlist {
        display: block;
        float: left;
        position: relative;
        margin: 0; }
        #wpcontent #wpbody #patchchatmessenger ul#patchchatlist #patchchatinit {
          margin-bottom: 0;
          border: none; }
        #wpcontent #wpbody #patchchatmessenger ul#patchchatlist .patchchatlistitem.new {
          background: #ff6961; }
      #wpcontent #wpbody #patchchatmessenger #patchchatboxes {
        width: 500px;
        height: 100vh;
        margin-top: -32px; }
        #wpcontent #wpbody #patchchatmessenger #patchchatboxes #patchchatinitbox {
          display: none; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes #patchchatinitbox.needed {
            display: inline-block; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes #patchchatinitbox form {
            display: none;
            padding-bottom: 100px; }
        #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 500px;
          height: 100%;
          border-bottom: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox.active {
            display: block; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox header {
            position: absolute;
            z-index: 2;
            top: 32px;
            width: 100%;
            padding: 10px;
            font-size: 24px;
            border-bottom: 1px solid #000000;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
            #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox header .spinner {
              display: none;
              float: right;
              margin: 6px; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            height: 95%;
            padding: 80px 0 20px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
            #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments .patchchatcomment span {
              max-width: 60%;
              word-break: break-all; }
          #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox form {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 100%; }
            #wpcontent #wpbody #patchchatmessenger #patchchatboxes .patchchatbox form textarea {
              position: relative;
              width: 100%;
              height: 5%; }
  #wpcontent:after {
    content: "";
    display: table;
    clear: both; }

#wpfooter {
  display: none; }
