.patchchatbox {
  position: relative; }
  .patchchatbox ul.patchchatcomments {
    padding-top: 10px;
    overflow-y: scroll; }
    .patchchatbox ul.patchchatcomments li {
      display: block;
      list-style: none;
      clear: both; }
      .patchchatbox ul.patchchatcomments li span {
        display: inline-block;
        max-width: 80%;
        padding: 3px 5px;
        margin: 3px 8px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        background-color: #fafafa; }
        .patchchatbox ul.patchchatcomments li span:after {
          content: "";
          display: table;
          clear: both; }
      .patchchatbox ul.patchchatcomments li.user span {
        float: left; }
      .patchchatbox ul.patchchatcomments li.agent span {
        float: right;
        border-color: #333333; }
      .patchchatbox ul.patchchatcomments li.subscriber span {
        float: left; }
      .patchchatbox ul.patchchatcomments li.administrator span {
        float: right;
        border-color: #333333; }
      .patchchatbox ul.patchchatcomments li img {
        display: none; }
  .patchchatbox form fieldset {
    width: auto;
    padding-top: 10px; }
    .patchchatbox form fieldset label {
      padding: 20px 10px 0 10px; }
    .patchchatbox form fieldset input {
      display: block;
      width: 230px;
      padding: 5px;
      margin: 0 10px 10px; }
  .patchchatbox form textarea {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    padding: 5px 5px 0 5px;
    border: 0px #777777 solid;
    border-top-width: 1px;
    font-family: sans-serif;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    overflow-y: hidden;
    /* fixes scrollbar flash - kudos to @brettjonesdev */ }
  .patchchatbox form #patchchat-honeypot {
    display: none; }
