/* line 8, ../sass/patchcomments.scss */
.patchchat-body {
  position: relative;
}
/* line 12, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments {
  display: none;
  height: 100%;
  overflow-y: scroll;
  padding: 10px 0 50px;
}
/* line 19, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li {
  display: block;
  list-style: none;
  clear: both;
}
/* line 25, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li span {
  display: inline-block;
  max-width: 80%;
  padding: 3px 5px;
  margin: 3px 8px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: #fafafa;
}
/* line 36, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li span:after {
  content: "";
  display: table;
  clear: both;
}
/* line 43, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li.user span {
  float: left;
}
/* line 46, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li.agent span {
  float: right;
  border-color: #333333;
}
/* line 51, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li.subscriber span {
  float: left;
}
/* line 54, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li.administrator span {
  float: right;
  border-color: #333333;
}
/* line 59, ../sass/patchcomments.scss */
.patchchat-body ul.patchcomments li img {
  display: none;
}
/* line 69, ../sass/patchcomments.scss */
.patchchat-body form fieldset {
  width: auto;
  padding-top: 10px;
}
/* line 74, ../sass/patchcomments.scss */
.patchchat-body form fieldset label {
  padding: 20px 10px 0 10px;
}
/* line 78, ../sass/patchcomments.scss */
.patchchat-body form fieldset input {
  display: block;
  width: 230px;
  padding: 5px;
  margin: 0 10px 10px;
}
/* line 86, ../sass/patchcomments.scss */
.patchchat-body form textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  padding: 5px 5px 0 5px;
  border: 0px #777777 solid;
  border-top-width: 1px;
  font-family: sans-serif;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  overflow-y: hidden;
  /* fixes scrollbar flash - kudos to @brettjonesdev */
}
/* line 102, ../sass/patchcomments.scss */
.patchchat-body form #patchchat-honeypot {
  display: none;
}
