#wpwrap {
  box-sizing: border-box; }

#wpcontent {
  display: block;
  position: relative;
  clear: both;
  padding-left: 0 !important; }
  #wpcontent #wpbody {
    clear: both; }
    #wpcontent #wpbody #patchchatmessenger {
      display: block; }
      #wpcontent #wpbody #patchchatmessenger ul#patchchatlist {
        display: block;
        float: left;
        position: relative;
        margin: 0; }
        #wpcontent #wpbody #patchchatmessenger ul#patchchatlist #patchchatinit {
          margin-bottom: 0; }
      #wpcontent #wpbody #patchchatmessenger #patchchatinitbox {
        display: none; }
        #wpcontent #wpbody #patchchatmessenger #patchchatinitbox.needed {
          display: inline-block; }
        #wpcontent #wpbody #patchchatmessenger #patchchatinitbox form {
          display: none;
          padding-bottom: 100px; }
      #wpcontent #wpbody #patchchatmessenger .patchchatbox {
        display: none; }
        #wpcontent #wpbody #patchchatmessenger .patchchatbox.active {
          display: block; }
        #wpcontent #wpbody #patchchatmessenger .patchchatbox header {
          padding: 10px;
          font-size: 24px;
          border-bottom: 1px solid #000000; }
          #wpcontent #wpbody #patchchatmessenger .patchchatbox header .spinner {
            display: none;
            float: right;
            margin: 6px; }
  #wpcontent:after {
    content: "";
    display: table;
    clear: both; }

#wpfooter {
  display: none; }
