#patchchatcontainer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0; }
  #patchchatcontainer #patchchatmessenger {
    display: block; }
    #patchchatcontainer #patchchatmessenger ul#patchchatlist {
      display: inline-block;
      position: relative;
      margin: 0; }
    #patchchatcontainer #patchchatmessenger ul#patchchatboxes {
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto;
      padding-right: 100px;
      overflow: visible;
      pointer-events: none; }
      #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox {
        display: inline-block;
        position: relative;
        min-width: 200px;
        margin-right: 20px;
        vertical-align: bottom;
        background: #ffffff;
        border: 1px #777777 solid;
        border-width: 1px 1px 0 1px;
        pointer-events: auto; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.open {
          width: 300px; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.open header {
            padding: 5px 10px;
            background: #333333;
            color: #ffffff;
            border-bottom: 1px solid #777777; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox * {
          font-family: sans-serif; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox header {
          padding: 3px 6px;
          cursor: pointer;
          background: #bbbbbb;
          font-size: 16px; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox header .spinner {
            display: none;
            float: right;
            margin: 6px; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox ul.patchchatcomments {
          max-height: 300px; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox form {
          display: none;
          padding-bottom: 20px; }
      #patchchatcontainer #patchchatmessenger ul#patchchatboxes #patchchatinitbox {
        display: none; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes #patchchatinitbox.needed {
          display: inline-block; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes #patchchatinitbox form {
          display: none;
          padding-bottom: 100px; }
