#patchchatmessenger {
  display: block;
  position: relative; }
  #patchchatmessenger ul#patchchatlist {
    display: inline-block;
    position: relative;
    margin: 0;
    list-style: none; }
    #patchchatmessenger ul#patchchatlist li.patchchatlistitem {
      display: block;
      width: 300px;
      margin: 0;
      border-bottom: 1px solid #333333;
      cursor: pointer; }
      #patchchatmessenger ul#patchchatlist li.patchchatlistitem:hover {
        background: #cccccc; }
      #patchchatmessenger ul#patchchatlist li.patchchatlistitem.active a {
        background: #55acee;
        color: #ffffff; }
      #patchchatmessenger ul#patchchatlist li.patchchatlistitem a {
        display: block;
        clear: both;
        width: auto;
        height: auto;
        padding: 10px;
        text-decoration: none; }
        #patchchatmessenger ul#patchchatlist li.patchchatlistitem a:after {
          content: "";
          display: table;
          clear: both; }
        #patchchatmessenger ul#patchchatlist li.patchchatlistitem a img {
          float: left;
          margin: 0 10px 0 0; }
        #patchchatmessenger ul#patchchatlist li.patchchatlistitem a h3 {
          margin: 0; }
  #patchchatmessenger #patchchatboxes {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    list-style: none; }
    #patchchatmessenger #patchchatboxes #patchchatinitbox form {
      width: auto;
      padding: 10px;
      font-family: sans-serif; }
      #patchchatmessenger #patchchatboxes #patchchatinitbox form p {
        padding: 0;
        margin: 0; }
        #patchchatmessenger #patchchatboxes #patchchatinitbox form p a {
          text-decoration: underline; }
        #patchchatmessenger #patchchatboxes #patchchatinitbox form p.patchchat-message {
          color: #ff0000; }
      #patchchatmessenger #patchchatboxes #patchchatinitbox form label {
        display: block;
        padding-top: 10px; }
      #patchchatmessenger #patchchatboxes #patchchatinitbox form input {
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-family: sans-serif; }
      #patchchatmessenger #patchchatboxes #patchchatinitbox form input[type=submit] {
        padding: 10px;
        margin-top: 20px; }
      #patchchatmessenger #patchchatboxes #patchchatinitbox form #patchchat-honeypot {
        display: none; }
    #patchchatmessenger #patchchatboxes .patchchatbox {
      position: relative;
      margin: 0;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      background: #fafafa; }
      #patchchatmessenger #patchchatboxes .patchchatbox.active ul.patchchatcomments, #patchchatmessenger #patchchatboxes .patchchatbox.active form {
        display: block !important; }
      #patchchatmessenger #patchchatboxes .patchchatbox header {
        padding: 3px 6px;
        cursor: pointer;
        background: #bbbbbb;
        font-size: 16px; }
        #patchchatmessenger #patchchatboxes .patchchatbox header .patchchat-spinner {
          display: none;
          float: right;
          margin: 6px; }
      #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments {
        padding: 10px 0;
        margin: 0 !important;
        overflow-y: scroll; }
        #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment {
          display: block;
          list-style: none;
          clear: both; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.auto > span {
            display: inline-block;
            position: relative;
            float: right;
            width: 30%;
            padding: 7px;
            margin: 5px 15px;
            font-size: 13px;
            font-family: sans-serif;
            line-height: 16px;
            text-align: left;
            border: 1px solid #bbbbbb;
            border-radius: 2px;
            border-color: #333333;
            background-color: #ffffcc; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.auto > span i.fa {
              padding-right: 5px; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment:not(.auto) > span {
            display: inline-block;
            position: relative;
            max-width: 80%;
            padding: 5px 8px;
            margin: 3px 8px;
            font-size: 14px;
            font-family: sans-serif;
            line-height: 18px;
            border: 1px solid #bbbbbb;
            border-radius: 5px;
            background-color: #fafafa; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment:not(.auto) > span:after, #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment:not(.auto) > span:before {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              right: 100%;
              top: 50%;
              border: solid transparent;
              pointer-events: none; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment:not(.auto) > span:before {
              border-color: rgba(187, 187, 187, 0);
              border-right-color: #bfbfbf;
              border-width: 7px;
              margin-top: -7px; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment:not(.auto) > span:after {
              border-color: rgba(250, 250, 250, 0);
              border-right-color: #fafafa;
              border-width: 6px;
              margin-top: -6px;
              display: table;
              clear: both; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.user > span {
            float: left; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.agent > span {
            float: right;
            border-color: #333333; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.subscriber > span {
            float: left;
            margin-left: 15px; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.administrator > span {
            float: right;
            margin-right: 15px;
            border-color: #333333;
            background: lightblue; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.administrator > span:after, #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.administrator > span:before {
              right: auto;
              left: 100%; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.administrator > span:before {
              border-color: rgba(187, 187, 187, 0);
              border-left-color: #333333;
              border-width: 7px;
              margin-top: -7px; }
            #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment.administrator > span:after {
              border-color: rgba(250, 250, 250, 0);
              border-left-color: lightblue;
              border-width: 6px;
              margin-top: -6px;
              display: table;
              clear: both; }
          #patchchatmessenger #patchchatboxes .patchchatbox ul.patchchatcomments li.patchchatcomment img {
            display: none; }
      #patchchatmessenger #patchchatboxes .patchchatbox form textarea {
        width: 100%;
        min-height: 30px;
        padding: 5px 5px 0 5px;
        border: 0px #777777 solid;
        border-top-width: 1px;
        font-family: sans-serif;
        resize: none;
        font-size: 14px;
        line-height: 18px;
        overflow-y: hidden;
        /* fixes scrollbar flash - kudos to @brettjonesdev */ }

#patchchatcontainer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0; }
  #patchchatcontainer #patchchatmessenger {
    display: block; }
    #patchchatcontainer #patchchatmessenger ul#patchchatlist {
      display: inline-block;
      position: relative;
      margin: 0; }
    #patchchatcontainer #patchchatmessenger ul#patchchatboxes {
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto;
      padding-right: 100px;
      overflow: visible;
      pointer-events: none; }
      #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox {
        display: inline-block;
        position: relative;
        min-width: 200px;
        margin-right: 20px;
        vertical-align: bottom;
        background: #ffffff;
        border: 1px #777777 solid;
        border-width: 1px 1px 0 1px;
        pointer-events: auto; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.active {
          width: 300px; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.active header {
            padding: 5px 10px;
            background: #333333;
            color: #ffffff;
            border-bottom: 1px solid #777777; }
            #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.active header .minimize {
              display: block; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox.active ul.patchchatcomments {
            display: block; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox header {
          padding: 3px 6px;
          cursor: pointer;
          background: #bbbbbb;
          font-size: 16px; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox header .minimize {
            display: none;
            float: right;
            padding: 5px; }
            #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox header .minimize:hover {
              color: #777777; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox ul.patchchatcomments {
          display: none;
          height: 300px; }
          #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox ul.patchchatcomments .auto > span {
            width: 60%; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes .patchchatbox form {
          display: none; }
      #patchchatcontainer #patchchatmessenger ul#patchchatboxes #patchchatinitbox {
        display: none; }
        #patchchatcontainer #patchchatmessenger ul#patchchatboxes #patchchatinitbox.needed {
          display: inline-block; }
